@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  font-family: "poppins", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(228, 223, 234);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.container .menu {
  width: 98%;
  box-shadow: -1px -1px 3px 2px rgb(67, 27, 122), 3px 3px 5px rgb(67, 27, 122);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 10px;
}

.container .menu .logo {
  width: 6rem;
  height: 4rem;
  transition: 0.3s;
}

.container .menu .logo:hover {
  transform: translate(-0px, -5px);
}

.container .menu .creator {
  background-color: rgb(188, 154, 235);
  padding: 5px;
}

.container .menu .creator a {
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

.container .menu .creator:hover {
  transform: translate(-0px, -5px);
}

.container .heading {
  padding-bottom: 30px;
  margin: 20px 20px 0px 20px;
  width: 50%;
}

.container .heading h1 {
  font-size: 3rem;
  font-weight: bold;
  border-bottom: 3px solid rgb(156, 115, 214);
}

.container .heading h1 span {
  font-weight: 100;
  font-size: 2.5rem;
}

p {
  padding: 10px;
  text-align: justify;
  text-indent: 2em;
}

.container2 .all-images {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-template-rows: auto;
  grid-auto-flow: dense;
}

.container2 .all-images img {
  width: 100%;
  border: solid rgb(110, 166, 230);
  border-radius: 1rem;
  transition: 0.3s;
}

.container2 .all-images iframe {
  width: 100%;
  border: solid rgb(110, 166, 230);
  border-radius: 1rem;
  transition: 0.3s;
}

.container2 .all-images video {
  width: 100%;
  border: solid rgb(110, 166, 230);
  border-radius: 1rem;
  transition: 0.3s;
}

.container2 .all-images .horizontal {
  grid-column: auto/ span 3;
}

.container2 .all-images .big {
  grid-column: auto/ span 2;
  grid-row: span 2;
}

.container2 .all-images img:hover {
  transform: translate(-0px, -5px);
}

.container2 .all-images iframe:hover {
  transform: translate(-0px, -5px);
}

.container2 .all-images video:hover {
  transform: translate(-0px, -5px);
}
